# Docs and future updrades
qml/
project_structure.txt
*.log
tests/

# Auto generated PyQt files
*_ui.py

# Tests
database_test.py

# Virtual environments
.env
.venv
env/
venv/

# Auto generated folders and files
.idea/
.vscode/
*__pycache__/
.DS_Store


