# Docs and future updrades
qml/
project_structure.txt
*.log
# Auto generated PyQt files
*_ui.py

# Virtual environments
.env
.venv
env/
venv/

# Auto generated folders and files
.idea/
.vscode/
.DS_Store


